[submodule "src/opensbi"]
	path = src/opensbi
	url = https://github.com/PennixRv/opensbi.git
	branch = master
[submodule "src/qemu"]
	path = src/qemu
	url = https://github.com/PennixRv/qemu.git
	branch = master
[submodule "src/u-boot"]
	path = src/u-boot
	url = https://github.com/PennixRv/u-boot.git
	branch = master
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/PennixRv/linux.git
	branch = master
[submodule "src/buildroot"]
	path = src/buildroot
	url = https://github.com/PennixRv/buildroot.git
	branch = master
[submodule "src/edk2"]
	path = src/edk2
	url = https://github.com/PennixRv/edk2.git
	branch = master
[submodule "src/edk2-platforms"]
	path = src/edk2-platforms
	url = https://github.com/PennixRv/edk2-platforms.git
	branch = master
[submodule "src/meta-riscv"]
	path = src/meta-riscv
	url = https://github.com/PennixRv/meta-riscv.git
    branch = master
[submodule "src/meta-sifive"]
	path = src/meta-sifive
	url = https://github.com/PennixRv/meta-sifive.git
[submodule "src/busybox"]
	path = src/busybox
	url = https://github.com/PennixRv/busybox.git
